# backend
PORT=

# postgres
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

# pgadmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

FRONTEND_URL=
IA_URL=

# minio s3
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=

# jwt
JWT_SECRET=